body {
  background-color: transparent;
}

.action-primary,.action-secondary{
  color: #fff;
  background-color: #887850;
  width: 110px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 5px 5px 0 0;
}

.action-primary:focus,
.action-secondary:focus {
  outline:none;
}

